In [3]:
from langchain.chat_models import init_chat_model

llm = init_chat_model("openai:gpt-4o-mini")

In [6]:
from langchain_community.utilities import SQLDatabase
from dotenv import load_dotenv
import os

# Cargar variables desde .env
load_dotenv()

# Leer valores
host = os.getenv("POSTGRES_HOST")
port = os.getenv("POSTGRES_PORT")
db_name = os.getenv("POSTGRES_DB")
user = os.getenv("POSTGRES_USER")
password = os.getenv("POSTGRES_PASSWORD")

# Construir URI de conexión PostgreSQL
uri = f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{db_name}"

# Crear conexión
db = SQLDatabase.from_uri(uri)

# Validar conexión
print(f"Dialect: {db.dialect}")
print(f"Available tables: {db.get_usable_table_names()}")
print(f'Sample output: {db.run("SELECT * FROM transparencia LIMIT 5;")}')

Dialect: postgresql
Available tables: ['contratos', 'orden_servicio', 'sunat', 'transparencia']
Sample output: [('20131370645', 'MINISTERIO DE ECONOMIA Y FINANZAS', '19,312,898,790.58', 1), ('20414671773', 'FONDO MIVIVIENDA S.A.', '12,293,205,840.88', 1), ('20100128218', 'PETROLEOS DEL PERU PETROPERU SA', '9,905,757,838.69', 1), ('20557410008', 'METRO DE LIMA LINEA 2 S.A.', '9,649,129,064.13', 1), ('20100047218', 'BANCO DE CREDITO DEL PERU', '8,015,071,213.50', 1)]

In [7]:
from langchain_community.agent_toolkits import SQLDatabaseToolkit

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

tools = toolkit.get_tools()

for tool in tools:
    print(f"{tool.name}: {tool.description}\n")

sql_db_query: Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.

sql_db_schema: Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3

sql_db_list_tables: Input is an empty string, output is a comma-separated list of tables in the database.

sql_db_query_checker: Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!

In [10]:
from langgraph.prebuilt import create_react_agent

system_prompt = """
You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct {dialect} query to run,
then look at the results of the query and return the answer. Unless the user
specifies a specific number of examples they wish to obtain, always limit your
query to at most {top_k} results.

You can order the results by a relevant column to return the most interesting
examples in the database. Never query for all the columns from a specific table,
only ask for the relevant columns given the question.

You MUST double check your query before executing it. If you get an error while
executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the
database.

To start you should ALWAYS look at the tables in the database to see what you
can query. Do NOT skip this step.

Then you should query the schema of the most relevant tables.
""".format(
    dialect=db.dialect,
    top_k=10,
)

agent = create_react_agent(
    llm,
    tools,
    prompt=system_prompt,
)

In [11]:
question = "Cual es el presupuesto de empresas q fueron creados en el 2022?"

for step in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

Cual es el presupuesto de empresas q fueron creados en el 2022?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_isEaQgZTQfeBLaOyRadzqqmP)
 Call ID: call_isEaQgZTQfeBLaOyRadzqqmP
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

contratos, orden_servicio, sunat, transparencia
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_0HUfekfmbs47BMjq5dhsSNyz)
 Call ID: call_0HUfekfmbs47BMjq5dhsSNyz
  Args:
    table_names: contratos
  sql_db_schema (call_PlCg3rF78rbmC1qiF6yyTYHD)
 Call ID: call_PlCg3rF78rbmC1qiF6yyTYHD
  Args:
    table_names: orden_servicio
  sql_db_schema (call_ob5qANsd4Mel3VJKdjPT3TZK)
 Call ID: call_ob5qANsd4Mel3VJKdjPT3TZK
  Args:
    table_names: sunat
  sql_db_schema (call_gycNSUy966hrtNhJQmNfUqfG)
 Call ID: call_gycNSUy966hrtNhJQmNfUqfG
  Args:
    table_names: transparencia
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE transparencia (
	ruc TEXT,
	proveedor TEXT,
	monto_girado TEXT,
	pagina BIGINT
)

/*
3 rows from transparencia table:
ruc	proveedor	monto_girado	pagina
20131370645	MINISTERIO DE ECONOMIA Y FINANZAS	19,312,898,790.58	1
20414671773	FONDO MIVIVIENDA S.A.	12,293,205,840.88	1
20100128218	PETROLEOS DEL PERU PETROPERU SA	9,905,757,838.69	1
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_jozcpyYAgxQOFoz4SEi3fUIq)
 Call ID: call_jozcpyYAgxQOFoz4SEi3fUIq
  Args:
    query: SELECT s.nombre_empresa, s.fecha_de_inicio_de_actividades, t.monto_girado FROM sunat s INNER JOIN transparencia t ON s.ruc = t.ruc WHERE EXTRACT(YEAR FROM s.fecha_de_inicio_de_actividades) = 2022 LIMIT 10;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT s.nombre_empresa, s.fecha_de_inicio_de_actividades, t.monto_girado
FROM sunat s
INNER JOIN transparencia t ON s.ruc = t.ruc
WHERE EXTRACT(YEAR FROM s.fecha_de_inicio_de_actividades) = 2022
LIMIT 10;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_12jywLqJJaplHbTq28bOzFpa)
 Call ID: call_12jywLqJJaplHbTq28bOzFpa
  Args:
    query: SELECT s.nombre_empresa, s.fecha_de_inicio_de_actividades, t.monto_girado FROM sunat s INNER JOIN transparencia t ON s.ruc = t.ruc WHERE EXTRACT(YEAR FROM s.fecha_de_inicio_de_actividades) = 2022 LIMIT 10;
================================= Tool Message =================================
Name: sql_db_query

[('CONSORCIO DVC - SACEEM', datetime.datetime(2022, 9, 27, 0, 0), '1,372,093,904.62'), ('EB CONSORCIO GESTOR', datetime.datetime(2022, 8, 15, 0, 0), '1,540,331,809.02'), ('NÚCLEO EJECUTOR DE COMPRAS (NEC) PARA EL SECTOR PRODUCTIVO DE TEXTIL - CONFECCIONES', datetime.datetime(2022, 10, 4, 0, 0), '278,236,172.00'), ('RIPCONCIV STILER - ESCUELAS BICENTENARIO', datetime.datetime(2022, 6, 6, 0, 0), '211,460,533.92'), ('CONSORCIO JUANJUI III', datetime.datetime(2022, 10, 14, 0, 0), '179,678,243.67'), ('CONSORCIO EDUCARE', datetime.datetime(2022, 9, 30, 0, 0), '447,532,548.06'), ('CONSORCIO SAN JUAN 3', datetime.datetime(2022, 5, 19, 0, 0), '128,691,378.78'), ('CONSORCIO ROVELLA-INMAC', datetime.datetime(2022, 2, 18, 0, 0), '240,172,252.70'), ('CONSORCIO S&F', datetime.datetime(2022, 8, 11, 0, 0), '272,970,166.54'), ('ESPARTACO SECURITY S.A.C', datetime.datetime(2022, 11, 7, 0, 0), '99,570,545.49')]
================================== Ai Message ==================================

Aquí tienes el presupuesto de algunas empresas que fueron creadas en 2022:

1. **CONSORCIO DVC - SACEEM**: 1,372,093,904.62 (Fecha de inicio: 27 de septiembre de 2022)
2. **EB CONSORCIO GESTOR**: 1,540,331,809.02 (Fecha de inicio: 15 de agosto de 2022)
3. **NÚCLEO EJECUTOR DE COMPRAS (NEC) PARA EL SECTOR PRODUCTIVO DE TEXTIL - CONFECCIONES**: 278,236,172.00 (Fecha de inicio: 4 de octubre de 2022)
4. **RIPCONCIV STILER - ESCUELAS BICENTENARIO**: 211,460,533.92 (Fecha de inicio: 6 de junio de 2022)
5. **CONSORCIO JUANJUI III**: 179,678,243.67 (Fecha de inicio: 14 de octubre de 2022)
6. **CONSORCIO EDUCARE**: 447,532,548.06 (Fecha de inicio: 30 de septiembre de 2022)
7. **CONSORCIO SAN JUAN 3**: 128,691,378.78 (Fecha de inicio: 19 de mayo de 2022)
8. **CONSORCIO ROVELLA-INMAC**: 240,172,252.70 (Fecha de inicio: 18 de febrero de 2022)
9. **CONSORCIO S&F**: 272,970,166.54 (Fecha de inicio: 11 de agosto de 2022)
10. **ESPARTACO SECURITY S.A.C**: 99,570,545.49 (Fecha de inicio: 7 de noviembre de 2022)

Si necesitas más información o algún otro detalle, no dudes en preguntar.

In [12]:
question = "Lista las empresas que fueron creadas en algun més del 2022 y en menos de 4 meses de su creación tuvo contratos u ordenes de servicios de más de 50000 soles?"

for step in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

Lista las empresas que fueron creadas en algun més del 2022 y en menos de 4 meses de su creación tuvo contratos u ordenes de servicios de más de 50000 soles?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_ufeTs0Xwv5BkxJ7WifKPkGri)
 Call ID: call_ufeTs0Xwv5BkxJ7WifKPkGri
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

contratos, orden_servicio, sunat, transparencia
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_Ctc23FxNMdxe2AUhsWLNkIpn)
 Call ID: call_Ctc23FxNMdxe2AUhsWLNkIpn
  Args:
    table_names: contratos
  sql_db_schema (call_XG4OeEB48RJYbvkxnshCgCGj)
 Call ID: call_XG4OeEB48RJYbvkxnshCgCGj
  Args:
    table_names: orden_servicio
  sql_db_schema (call_waiAAstYll0MOoUbvQn1BwHE)
 Call ID: call_waiAAstYll0MOoUbvQn1BwHE
  Args:
    table_names: sunat
  sql_db_schema (call_PaeFU2m4G2EynfkoBbKHbVfd)
 Call ID: call_PaeFU2m4G2EynfkoBbKHbVfd
  Args:
    table_names: transparencia
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE transparencia (
	ruc TEXT,
	proveedor TEXT,
	monto_girado TEXT,
	pagina BIGINT
)

/*
3 rows from transparencia table:
ruc	proveedor	monto_girado	pagina
20131370645	MINISTERIO DE ECONOMIA Y FINANZAS	19,312,898,790.58	1
20414671773	FONDO MIVIVIENDA S.A.	12,293,205,840.88	1
20100128218	PETROLEOS DEL PERU PETROPERU SA	9,905,757,838.69	1
*/
================================== Ai Message ==================================

Aquí están las estructuras de las tablas relevantes:

1. **Tabla `contratos`**
   - `ruc_proveedor`: TEXT
   - `entidad_contratante`: TEXT
   - `objeto_contrato`: TEXT
   - `moneda`: TEXT
   - `monto`: DOUBLE PRECISION
   - `fecha_firma`: TIMESTAMP
   - `fecha_fin`: TIMESTAMP

2. **Tabla `orden_servicio`**
   - `id`: DOUBLE PRECISION
   - `ruc_proveedor`: TEXT
   - `entidad_contratante`: TEXT
   - `objeto_contrato`: TEXT
   - `descripcion`: TEXT
   - `moneda`: TEXT
   - `monto`: DOUBLE PRECISION
   - `fecha_inicio`: TIMESTAMP

3. **Tabla `sunat`**
   - `ruc`: TEXT
   - `nombre_empresa`: TEXT
   - `tipo_empresa`: TEXT
   - `tipo_contribuyente`: TEXT
   - `fecha_de_inicio_de_actividades`: TIMESTAMP

4. **Tabla `transparencia`**
   - `ruc`: TEXT
   - `proveedor`: TEXT
   - `monto_girado`: TEXT
   - `pagina`: BIGINT

Para responder la consulta sobre las empresas creadas en algún mes de 2022 que hayan tenido contratos u órdenes de servicio de más de 50000 soles en menos de 4 meses de su creación, voy a realizar la siguiente consulta SQL:

1. Unir la tabla `sunat` (para obtener la fecha de creación y el nombre de la empresa) con las tablas `contratos` y `orden_servicio`
2. Filtrar por fecha de inicio de actividades en 2022
3. Filtrar por monto mayor a 50000
4. Calcular la fecha límite (menos de 4 meses desde la creación) para restricciones.

La consulta SQL se verá así:

```sql
SELECT
    s.nombre_empresa,
    s.fecha_de_inicio_de_actividades,
    o.monto AS monto_orden_servicio,
    c.monto AS monto_contrato
FROM sunat s
LEFT JOIN orden_servicio o ON s.ruc = o.ruc_proveedor
LEFT JOIN contratos c ON s.ruc = c.ruc_proveedor
WHERE
    (s.fecha_de_inicio_de_actividades BETWEEN '2022-01-01' AND '2022-12-31')
    AND (o.monto > 50000 OR c.monto > 50000)
    AND (o.fecha_inicio BETWEEN s.fecha_de_inicio_de_actividades AND s.fecha_de_inicio_de_actividades + INTERVAL '4 months'
         OR c.fecha_firma BETWEEN s.fecha_de_inicio_de_actividades AND s.fecha_de_inicio_de_actividades + INTERVAL '4 months')
LIMIT 10;
```

Voy a verificar esta consulta antes de ejecutarla.
Tool Calls:
  sql_db_query_checker (call_e6oUkozi1MsaAXYx3KUWEfn5)
 Call ID: call_e6oUkozi1MsaAXYx3KUWEfn5
  Args:
    query: SELECT
    s.nombre_empresa,
    s.fecha_de_inicio_de_actividades,
    o.monto AS monto_orden_servicio,
    c.monto AS monto_contrato
FROM sunat s
LEFT JOIN orden_servicio o ON s.ruc = o.ruc_proveedor
LEFT JOIN contratos c ON s.ruc = c.ruc_proveedor
WHERE
    (s.fecha_de_inicio_de_actividades BETWEEN '2022-01-01' AND '2022-12-31')
    AND (o.monto > 50000 OR c.monto > 50000)
    AND (o.fecha_inicio BETWEEN s.fecha_de_inicio_de_actividades AND s.fecha_de_inicio_de_actividades + INTERVAL '4 months'
         OR c.fecha_firma BETWEEN s.fecha_de_inicio_de_actividades AND s.fecha_de_inicio_de_actividades + INTERVAL '4 months')
LIMIT 10;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT
    s.nombre_empresa,
    s.fecha_de_inicio_de_actividades,
    o.monto AS monto_orden_servicio,
    c.monto AS monto_contrato
FROM sunat s
LEFT JOIN orden_servicio o ON s.ruc = o.ruc_proveedor
LEFT JOIN contratos c ON s.ruc = c.ruc_proveedor
WHERE
    (s.fecha_de_inicio_de_actividades BETWEEN '2022-01-01' AND '2022-12-31')
    AND (o.monto > 50000 OR c.monto > 50000)
    AND (o.fecha_inicio BETWEEN s.fecha_de_inicio_de_actividades AND s.fecha_de_inicio_de_actividades + INTERVAL '4 months'
         OR c.fecha_firma BETWEEN s.fecha_de_inicio_de_actividades AND s.fecha_de_inicio_de_actividades + INTERVAL '4 months')
LIMIT 10;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_CluWD1WRfMLLOy8FFQ10c3a0)
 Call ID: call_CluWD1WRfMLLOy8FFQ10c3a0
  Args:
    query: SELECT
    s.nombre_empresa,
    s.fecha_de_inicio_de_actividades,
    o.monto AS monto_orden_servicio,
    c.monto AS monto_contrato
FROM sunat s
LEFT JOIN orden_servicio o ON s.ruc = o.ruc_proveedor
LEFT JOIN contratos c ON s.ruc = c.ruc_proveedor
WHERE
    (s.fecha_de_inicio_de_actividades BETWEEN '2022-01-01' AND '2022-12-31')
    AND (o.monto > 50000 OR c.monto > 50000)
    AND (o.fecha_inicio BETWEEN s.fecha_de_inicio_de_actividades AND s.fecha_de_inicio_de_actividades + INTERVAL '4 months'
         OR c.fecha_firma BETWEEN s.fecha_de_inicio_de_actividades AND s.fecha_de_inicio_de_actividades + INTERVAL '4 months')
LIMIT 10;
================================= Tool Message =================================
Name: sql_db_query

[('CORPORACION PERUANA DE ALIMENTOS VILLEGAS S.A.C.', datetime.datetime(2022, 12, 1, 0, 0), 5865.0, 965670.8), ('CORPORACION PERUANA DE ALIMENTOS VILLEGAS S.A.C.', datetime.datetime(2022, 12, 1, 0, 0), 18938.0, 965670.8), ('CORPORACION PERUANA DE ALIMENTOS VILLEGAS S.A.C.', datetime.datetime(2022, 12, 1, 0, 0), 18480.0, 965670.8), ('CORPORACION PERUANA DE ALIMENTOS VILLEGAS S.A.C.', datetime.datetime(2022, 12, 1, 0, 0), 18872.0, 965670.8), ('CORPORACION PERUANA DE ALIMENTOS VILLEGAS S.A.C.', datetime.datetime(2022, 12, 1, 0, 0), 9766.4, 965670.8), ('CORPORACION PERUANA DE ALIMENTOS VILLEGAS S.A.C.', datetime.datetime(2022, 12, 1, 0, 0), 9567.6, 965670.8), ('CORPORACION PERUANA DE ALIMENTOS VILLEGAS S.A.C.', datetime.datetime(2022, 12, 1, 0, 0), 21864.8, 965670.8), ('CORPORACION PERUANA DE ALIMENTOS VILLEGAS S.A.C.', datetime.datetime(2022, 12, 1, 0, 0), 32417.28, 965670.8), ('CORPORACION PERUANA DE ALIMENTOS VILLEGAS S.A.C.', datetime.datetime(2022, 12, 1, 0, 0), 35282.0, 965670.8), ('CORPORACION PERUANA DE ALIMENTOS VILLEGAS S.A.C.', datetime.datetime(2022, 12, 1, 0, 0), 35710.5, 965670.8)]
================================== Ai Message ==================================

Las empresas que fueron creadas en algún mes del 2022 y que tuvieron contratos u órdenes de servicio de más de 50,000 soles en menos de 4 meses de su creación son:

- **Nombre de la empresa**: CORPORACION PERUANA DE ALIMENTOS VILLEGAS S.A.C.
  - **Fecha de inicio de actividades**: 1 de diciembre de 2022
  - **Montos de órdenes de servicio**:
    - 5,865.00 soles
    - 18,938.00 soles
    - 18,480.00 soles
    - 18,872.00 soles
    - 9,766.40 soles
    - 9,567.60 soles
    - 21,864.80 soles
    - 32,417.28 soles
    - 35,282.00 soles
    - 35,710.50 soles
  - **Monto de contrato relacionado**: 96,5670.80 soles

Estos son algunos ejemplos relevantes. Si necesitas más información, házmelo saber.